@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL SAFETY FIXES */
body { 
  margin: 0; 
  font-family: ui-sans-serif, system-ui, -apple-system, sans-serif; 
  background-color: #f8fafc !important; 
}

/* Force Lucide icons to be a reasonable size */
svg {
  width: 24px;
  height: 24px;
  display: inline-block;
}

/* Force the Map to occupy space */
.leaflet-container {
  height: 100% !important;
  width: 100% !important;
  border-radius: 2rem;
  z-index: 1;
}